.container__main {

    background-size: 1000% 1000%;
    background: $soft-peach;
    margin: 0;
    padding: 2rem;

    @include breakpoint(wide-to-extra-wide){
        margin-left: 19.44%;
    }
    
}
