.css-selector {
    background: linear-gradient(359deg, #a27ea7, #7abec1);
    background-size: 400% 400%;

    animation: PGradient 30s ease infinite;
}

@keyframes PGradient {
    0%{background-position:0% 76%}
    50%{background-position:100% 25%}
    100%{background-position:0% 76%}
}